
<html >
<head>

    <title>Management</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='A_Black_Star.png')}}">
</head>
<body>
{% block body%}

<div class="container">
    <div class="well text-center">
        <h1>Expense Verification</h1>
    </div>
 <div class="container">
     <div class="row">
         <div class="col-md-12">

             <h2 >  Unverified Expenses<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#mymodal">
                 Add new Employee</button></h2>

             {% with messages=get_flashed_messages() %}
             {% if messages %}
             {% for message in messages %}
             <div class="alert alert-success alert-dismissible" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="close">
                     <span aria-hidden="true">x</span>
                 </button>
                      {{message}}
             </div>

             {%endfor%}
             {%endif%}
             {%endwith%}

             <table class="table table-striped">
                 <tr>
                     <th>ID</th>
                     <th>Owner</th>
                     <th>Subject</th>
                     <th>Comment</th>
                     <th>Cost</th>
                     <th>Status</th>
                     <th>Action</th>
                 </tr>

                 {% for row in expenses%}
                 <tr>
                      <td>{{row.0}}</td>
                      <td>{{row.1}}</td>
                      <td>{{row.2}}</td>
                      <td>{{row.3}}</td>
                      <td>{{row.4}}</td>
                      <td>{{row.5}}</td>


                     <td>
                         <a href="/approve/{{row.0}}" class="btn btn-warning btn-xs">Approve</a>
                         <a href="/disapprove/{{row.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure ?')">Disapprove</a>
                     </td>
                 </tr>






    <div id="modaledit{{row.0}}" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Please Update Data</h4>

                </div>

                <div class="modal-body">

                    <form action="{{url_for('update')}}" method="POST">

                        <div class="form-group">

                            <lebel>Name:</lebel>

                            <input type="hidden" name="id" value="{{row.0}}">

                            <input type="text" class="form-control"  name="name" value="{{row.1}}">

                        </div>

                        <div class="form-group">

                            <lebel>Position:</lebel>

                            <input type="text" class="form-control"  name="position" value="{{row.2}}">

                        </div>

                        <div class="form-group">

                            <lebel>Email:</lebel>

                            <input type="text" class="form-control"  name="email" value="{{row.3}}">

                        </div>

                        <div class="form-group">

                            <lebel>Username:</lebel>

                            <input type="text" class="form-control"  name="username" value="{{row.4}}">

                        </div>

                        <div class="form-group">

                            <lebel>Password:</lebel>

                            <input  type="text" class="form-control"  name="password" value="{{row.5}}">

                        </div>

                        <div class="form-group">

                            <button class="btn btn-primary" type="submit">Update</button>

                        </div>

                    </form>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>

            </div>

        </div>

    </div>
                  {% endfor %}

             </table>
         </div>






    <div id="mymodal" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Please Insert Data</h4>

                </div>

                <div class="modal-body">

                    <form action="{{url_for('insert')}}" method="POST">


                        <div class="form-group">

                            <lebel>Name:</lebel>

                            <input type="text" class="form-control"  name="name" required="1">

                        </div>

                        <div class="form-group">

                            <lebel>Position:</lebel>

                            <input type="text" class="form-control"  name="position" required="1">

                        </div>

                        <div class="form-group">

                            <lebel>Email:</lebel>

                            <input type="text" class="form-control"  name="email" required="1">

                        </div>

                        <div class="form-group">

                            <lebel>Username:</lebel>

                            <input type="text" class="form-control"  name="username" required="1">

                        </div>

                        <div class="form-group">

                            <lebel>Password:</lebel>

                            <input  type="text" class="form-control"  name="password" required="1">

                        </div>

                        <div class="form-group">

                            <button class="btn btn-primary" type="submit">Submit</button>

                        </div>

                    </form>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>

            </div>

        </div>

    </div>





{%endblock%}


</body>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<div class="well">
    <h3 ><a href="https://www.qmul.ac.uk/">Queen Mary University of London</a>
    <span class="pull-right"><pre>SE-47 Software Engineering</pre></span></h3>
</div>

</html>